@import url(://weloveiconfonts.com/api/?family=typicons);

c_board = #2f2f69
c_bg = #685B87

@font-face
	font-family: 'Consolas'
	src: url('consolas.eot')
	src: url('consolas.eot?#iefix') format('embedded-opentype'),
		 url('consolas.woff') format('woff'),
		 url('consolas.ttf') format('truetype'),
		 url('consolas.svg#Consolas') format('svg')
	font-weight: normal
	font-style: normal

*, *:before, *:after
	box-sizing: border-box

html
	font-family: 'Consolas', cursive

[class*="typicons-"]::before
	font-family: 'typicons', sans-serif

body
	margin: 0
	background-color: c_bg
	color: white
	overflow: hidden
	text-transform: uppercase
	font-size: 0 // NOTE(bret): Set to 0 so we don't get any odd zooming on mobile on page load (trust me here, remove it and watch everything fall apart)
	/*&.landscape
		background-color: #800
	&.portrait
		background-color: #008*/

a
	color: white
	text-decoration: none
	transition: color 0.2s, opacity 0.2s, transform 0.2s
	transform: scale(1)
	&:hover
		transform: scale(1.03)

absoluteCenter()
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)

header, .board, .words
	top: 0

footer
	position: fixed
	height: 6em
	bottom: 0
	line-height: 6em
	padding: 0 2em
	a
		opacity: 0.7
		font-size: 2.5em
		padding-right: 1ch
		&:hover
			opacity: 1
		&::before
			opacity: 0.6
	.author
		float: left
		&::before
			content: 'Created by '
	.build
		float: right
		&::before
			content: 'View Source '
	span
		opacity: 0.6
	.right
		float: right

header
	position: fixed
	height: 10em
	padding: 0 2em
	.title, .points
		opacity: 0.7
		font-size: 5em
		height: 100%
		position: relative
		display: inline-block
		line-height: 0
		height: 2em
		padding: 0.5em 0
		text-transform: uppercase
		transition: opacity 0.2s
		&:hover
			opacity: 1
		&::before, &::after
			display: block
			font-size: 0.75em
			line-height: 1em
			white-space: nowrap
		&::after
			opacity: 1
	.title
		float: left
		&::before
			content: 'Radical'
			opacity: 0.6
		&::after
			content: 'Scrabble'
	.points
		float: right
		text-align: right
		&::before
			content: 'Points'
		&::after
			content: attr(data-points)
			opacity: 0.6
	.nav
		position: absolute
		text-align: center
		font-size: 5em
		line-height: 3.4em
		top: 0
		left: 0
		right: 0
		height: 100%
		z-index: -1
		span
			position: relative
			display: inline-block
			border-radius: 30%
			width: 1.6em
			height: 1.6em
			border: 0.12em solid rgba(255, 255, 255, 0.6)
			margin: 0 0.15em
			opacity: 0.7
			transition: opacity 0.2s
			i
				font-size: 1.25em
				position: absolute
				font-style: normal
				transform: translate(-50%, -50%)
			.typicons-back
				font-size: 1.1em
				top: 63%
				left: 50%
			.typicons-info
				top: 68%
				left: 51%
			.typicons-refresh
				top: 65%
				left: 50%
			&:hover
				opacity: 1

.board
	position: absolute
	line-height: 0
	background-color: c_board
	padding: 1.5em
	width: 100em
	height: 100em
	.landscape &
		left: unset !important
		right: 50% !important
		top: 52.5% !important
		transform: translateY(-50%)

.words
	.landscape &
		padding: 1.5em
		left: 50% !important
		top: 52.5% !important
		transform: translateY(-50%)
		height: 100em !important

.words
	position: fixed
	line-height: 0
	overflow: hidden
	border: 1.5em solid #68511C
	border: 1.5em solid #c9c0a3
	border: 1.5em solid #311
	background-color: #f9f0e3
	background-color: #633
	.words-holder
		/*background-color: #8b6914
		background-color: #3F3833
		background-color: #f9f0e3*/
		width: 100%
		height: 100%
		overflow-y: scroll
		padding-right: calc(18px + 1.5em)
		box-sizing: content-box
		.word
			margin: 3em

.word
	position: relative
	display: block
	// NOTE(bret): A hack to prevent the block from having 100% width
	float: left
	clear: left
	line-height: 1em
	transition: opacity 0.2s
	.tile
		pointer-events: none
	&.drag, &.on-grid
		position: absolute
		z-index: 5
		.buttons
			display: none
	&.drag
		opacity: 0.5
	&.on-grid
		opacity: 1.0
	&.rotated .tile
		display: block
	.buttons
		position: absolute
		right: 0
		top: 50%
		transform: translate(100%, -50%)
		z-index: 6
		white-space: nowrap
		.button
			position: relative
			display: inline-block
			height: 10em
			margin: 0 0.5em
			cursor: grab
			&::after
				content: ''
				width: 100%
				display: block
				position: relative
				border-radius: 1.2em
				background-color: #543
				background-color: #ccc
		.horizontal
			width: 10em
			&::after
				height: 50%
				top: 25%
		.vertical
			width: 5em
			&::after
				height: 100%

// #6666ff
tColors = 0, 0, 0, 0
tColors[0] = orange
tColors[1] = red
tColors[2] = purple
tColors[3] = black

stringThickness = 70%
stringThickness = 50%

@keyframes tileScale
	from
		transform: scale(0)
		opacity: 0
	to
		transform: scale(1)
		opacity: 1

@keyframes tileRotate1
	from
		transform: rotate(180deg)
	to
		transform: rotate(0deg)
@keyframes tileRotate2
	from
		transform: rotate(-180deg)
	to
		transform: rotate(0deg)

.tile
	position: relative
	display: inline-block
	animation-fill-mode: forwards
	.background
		position: absolute
		left: 5%
		top: 5%
		width: 90%
		height: 90%
		border-radius: 15%
		background-color: #a1a1a1
		opacity: 0.3
		z-index: 1
		/*^[0]:nth-child(2n) ^[1..-1]
			animation: tileRotate1 1s*/
		.has-letter&
			//background-color: #deb887
			background-color: #C5A064
			border: 0.15em solid #8b6914
			opacity: 1.0
		.no-letter&
			.wild&
				background-color: yellow
			.x-2-letter&
				background-color: tColors[0]
			.x-3-letter&
				background-color: tColors[1]
			.x-2-word&
				background-color: tColors[2]
			.x-3-word&
				background-color: tColors[3]
		.has-letter&,
		.no-letter&
			.word-hovering&
				opacity: 0.3
				background-color: lime
				.invalid&
					background-color: red
	.strings
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		opacity: 0.85
		.vertical&::before, .horizontal&::after
			content: ''
			position: absolute
			transform: translate(-50%, -50%)
			background-color: #C5A064
			z-index: 0
			left: 50%
			top: 50%
			.word-hovering&
				opacity: 0.3
				background-color: lime
				.invalid&
					background-color: red
		.vertical&::before
			width: stringThickness
			height: 100%
			.top:not(.bottom)&
				height: 50%
				top: 75%
			.bottom:not(.top)&
				height: 50%
				top: 25%
		.horizontal&::after
			width: 100%
			height: stringThickness
			.left:not(.right)&
				width: 50%
				left: 75%
			.right:not(.left)&
				width: 50%
				left: 25%
	&::before
		z-index: 2
		absoluteCenter()
		position: absolute
		font-size: 3.6em
		.has-letter&
			left: 45%
			content: attr(data-letter)
		.no-letter&
			font-size: 3.0em
			.wild&
				font-size: 5em
				top: 62%
				content: '*'
			.x-2-letter&
				content: '2L'
			.x-3-letter&
				content: '3L'
			.x-2-word&
				content: '2W'
			.x-3-word&
				content: '3W'
	.has-letter&::after
		z-index: 2
		position: absolute
		top: 30%
		left: 75%
		transform: translate(-50%, -50%)
		font-size: 2.2em
		content: attr(data-points)
	&:not(.has-letter)
		opacity: 0
		animation: tileScale 0.4s forwards
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 2.0)
