// #6666ff

$stringThickness = 70%
$stringThickness = 50%

@font-face
	font-family: 'Consolas'
	src: url('consolas.eot')
	src: url('consolas.eot?#iefix') format('embedded-opentype'),
		 url('consolas.woff') format('woff'),
		 url('consolas.ttf') format('truetype'),
		 url('consolas.svg#Consolas') format('svg')
	font-weight: normal
	font-style: normal

*, *:before, *:after
	box-sizing: border-box

html
	font-family: 'Consolas', cursive
	font-display: swap

	--text-color: white /* themeColor */
	--page-background-color: #685B87 /* themeColor */
	--board-color: #2f2f69 /* themeColor */

	--nav-button-border-color: #ffffff99 /* themeColor */
	--nav-button-background-color: #44335566 /* themeColor */

	--wild-color: #FFFF00 /* themeColor */
	--x-2-letter-color: #FFA500 /* themeColor */
	--x-3-letter-color: #FF0000 /* themeColor */
	--x-2-word-color: #800080 /* themeColor */
	--x-3-word-color: #000000 /* themeColor */
	--empty-tile-color: #a1a1a1 /* themeColor */
	--empty-tile-text-color: #ffffff /* themeColor */
	--tile-color: #C5A064 /* themeColor */
	--tile-border-color: #8b6914 /* themeColor */
	--tile-text-color: #ffffff /* themeColor */
	--word-holder-color: #633 /* themeColor */
	--word-holder-border-color: #311 /* themeColor */

	--tile-opacity: 0.3
	--tile-type-opacity: 0.3

.theme-90s-skater
	--text-color: white
	--page-background-color: #DC1D87
	--board-color: #333

	--nav-button-border-color: #333
	--nav-button-background-color: rgba(#000, 0.7)

	--wild-color: #D91A84
	--x-2-letter-color: #EB88C1
	--x-3-letter-color: #8E1E58
	--x-2-word-color: #E53F95
	--x-3-word-color: black
	--empty-tile-color: #ccc
	--empty-tile-color: #99c
	--empty-tile-text-color: white

	--tile-color: #DC1D87
	--tile-border-color: #DC1D87
	--tile-text-color: white
	--word-holder-color: #525262
	--word-holder-border-color: #333

	--tile-opacity: 0.3
	--tile-type-opacity: 0.7

.theme-garbage
	--text-color: magenta
	--page-background-color: black
	--board-color: #2f2f69

	--nav-button-border-color: rgba(255, 255, 255, 0.6)
	--nav-button-background-color: rgba(#435, 0.4)

	--wild-color: blue
	--x-2-letter-color: lime
	--x-3-letter-color: cyan
	--x-2-word-color: yellow
	--x-3-word-color: red
	--empty-tile-color: purple
	--empty-tile-text-color: white
	--tile-color: forestgreen
	--tile-border-color: #8b6914
	--tile-text-color: yellow
	--word-holder-color: #633
	--word-holder-border-color: #311

	--tile-opacity: 0.9
	--tile-type-opacity: 1.0

html, body
	height: 100%

body
	margin: 0
	background-color: var(--page-background-color)
	color: var(--text-color)
	overflow: hidden
	text-transform: uppercase
	font-size: 0 // NOTE(bret): Set to 0 so we don't get any odd zooming on mobile on page load (trust me here, remove it and watch everything fall apart)
	/*&.landscape
		background-color: #800
	&.portrait
		background-color: #008*/

a
	color: var(--text-color)
	text-decoration: none
	transition: color 0.2s, opacity 0.2s, transform 0.2s
	transform: scale(1)
	&:hover
		transform: scale(1.03)

absoluteCenter()
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)

header, .board, .words
	top: 0

footer
	position: fixed
	height: 6em
	bottom: 0
	line-height: 6em
	padding: 0 2em
	a
		opacity: 0.7
		font-size: 2.5em
		padding-right: 1ch
		&:hover
			opacity: 1
		&::before
			opacity: 0.6
	.author
		float: left
		&::before
			content: 'Created by '
	.build
		float: right
		&::before
			content: 'View Source '
	span
		opacity: 0.6
	.right
		float: right

header
	position: fixed
	height: 10em
	padding: 0 2em
	.title, .points
		opacity: 0.7
		font-size: 5em
		height: 100%
		position: relative
		display: inline-block
		line-height: 0
		height: 2em
		padding: 0.5em 0
		text-transform: uppercase
		transition: opacity 0.2s
		user-select: none
		&:hover
			opacity: 1
		.top, .bottom
		&::before, &::after
			display: block
			font-size: 0.75em
			line-height: 1em
			white-space: nowrap
		.bottom
		&::after
			opacity: 1
	.title
		float: left
		.top
		&::before
			opacity: 0.6
		// .bottom
	.points
		float: right
		text-align: right
		.top
			transition: 0.3s opacity, 0.1s transform
		.top
			transform-origin: top right
		// &::before
		// 	content: 'Points'
		.bottom
			transform: translateY(-1em)
			display: flex
			justify-content: flex-end
			align-items: center
			transform-origin: right
			height: 3em
			&::after
				content: attr(data-points)
			.column
				display: inline-block
				width: 1ch
				opacity: 0.6
				background: linear-gradient(180deg,
					rgba(white, 0) 0%,
					rgba(white, 0) 31%,
					var(--text-color) (1/3)*100%,
					var(--text-color) (2/3)*100%,
					rgba(white, 0) 69%,
					rgba(white, 0) 100%
				)
				-webkit-text-fill-color: #ff00ff00
				-webkit-background-clip: text
				color: var(--text-color)
				height: 3em
				transition: opacity 0.2s
				&.fade
					opacity: 1
	.nav
		position: absolute
		text-align: center
		font-size: 5em
		line-height: 3.4em
		top: 0
		left: 0
		right: 0
		height: 100%
		z-index: -1
		span
			position: relative
			display: inline-block
			border-radius: 30%
			width: 1.6em
			height: 1.6em
			border: 0.12em solid var(--nav-button-border-color)
			margin: 0 0.15em
			opacity: 0.7

			background-color: var(--nav-button-background-color)

			cursor: pointer
			transition: opacity 0.2s
			i
				font-size: 1.0em
				position: absolute
				font-style: normal
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				--fa-primary-color: var(--tile-text-color)
				--fa-secondary-color: var(--tile-color)
				--fa-secondary-opacity: 1.0
			.home
				font-size: 0.85em
				top: 50%
				left: 50%
			.info
				font-size: 0.85em
				top: 50%
				left: 50%
			.settings
				top: 50%
				left: 50%
			.undo
				font-size: 0.8em
				top: 50%
				left: 50%
			&:hover
				opacity: 1
			&.disabled
				&, &:hover
					opacity: 0.25

.board
	line-height: 0
	width: 97em
	height: 97em
	&-wrapper
		position: absolute
		line-height: 0
		width: 100em
		height: 100em
		padding: 1.5em
		background-color: var(--board-color)
		.landscape &
			left: unset !important
			right: 50% !important
			top: 52.5% !important
			transform: translateY(-50%)

.words
	.landscape &
		padding: 1.5em
		left: 50% !important
		top: 52.5% !important
		transform: translateY(-50%)
		height: 100em !important

.words
	position: fixed
	line-height: 0
	overflow: hidden
	border: 1.5em solid var(--word-holder-border-color)
	background-color: var(--word-holder-color)
	.words-holder
		/*background-color: #8b6914
		background-color: #3F3833
		background-color: #f9f0e3*/
		width: 100%
		height: 100%
		overflow-y: scroll
		padding-right: calc(18px + 1.5em)
		box-sizing: content-box
		.word
			margin: 3em

.word
	position: relative
	display: block
	// NOTE(bret): A hack to prevent the block from having 100% width
	float: left
	clear: left
	line-height: 1em
	transition: opacity 0.2s
	.tile
		pointer-events: none
	&.drag, &.on-grid
		position: absolute
		z-index: 5
		.buttons
			display: none
	&.drag
		opacity: 0.5
	&.on-grid
		opacity: 1.0
	&.rotated .tile
		display: block
	.buttons
		position: absolute
		right: 0
		top: 50%
		transform: translate(100%, -50%)
		z-index: 6
		white-space: nowrap
		padding-left: 1.5em
		i
			--fa-primary-color: var(--tile-text-color)
			--fa-secondary-color: var(--tile-color)
			--fa-secondary-opacity: 1.0
			font-size: 6.35em
			margin: 0 0.1em
			color: var(--tile-color)
			opacity: 0.5
			transition: opacity 0.2s
			cursor: grab
			&:hover
				opacity: 1.0

@keyframes tileScale
	from
		transform: scale(0)
		opacity: 0
	to
		transform: scale(1)
		opacity: 1

@keyframes tileRotate1
	from
		transform: rotate(180deg)
	to
		transform: rotate(0deg)
@keyframes tileRotate2
	from
		transform: rotate(-180deg)
	to
		transform: rotate(0deg)

.tile
	position: relative
	display: inline-block
	animation-fill-mode: forwards
	color: var(--empty-tile-text-color)
	&.has-letter
		color: var(--tile-text-color)
	.background
		position: absolute
		left: 5%
		top: 5%
		width: 90%
		height: 90%
		border-radius: 15%
		background-color: var(--empty-tile-color)
		opacity: var(--tile-opacity)
		z-index: 1
		.no-letter&
			.wild&
			.x-2-letter&
			.x-3-letter&
			.x-2-word&
			.x-3-word&
				opacity: var(--tile-type-opacity)
		/*^[0]:nth-child(2n) ^[1..-1]
			animation: tileRotate1 1s*/
		.has-letter&
			background-color: var(--tile-color)
			border: 0.15em solid var(--tile-border-color)
			opacity: 1.0
		.no-letter&
			.wild&
				background-color: var(--wild-color)
			.x-2-letter&
				background-color: var(--x-2-letter-color)
			.x-3-letter&
				background-color: var(--x-3-letter-color)
			.x-2-word&
				background-color: var(--x-2-word-color)
			.x-3-word&
				background-color: var(--x-3-word-color)
		.has-letter&,
		.no-letter&
			.word-hovering&
				opacity: 0.3
				background-color: lime
				.invalid&
					background-color: red
	.strings
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		opacity: 0.85
		&::before, &::after
			content: ''
			position: absolute
			transform: translate(-50%, -50%)
			background-color: var(--tile-color)
			z-index: 0
			width: 0%
			height: 0%
			left: 50%
			top: 50%
			$length = 0.2s
			transition: width $length, height $length, left $length, top $length
			transition-delay: inherit
			.word-hovering&
				opacity: 0
		.vertical&::before
			width: $stringThickness
			height: 100%
			.top:not(.bottom)&
				height: 50%
				top: 75%
			.bottom:not(.top)&
				height: 50%
				top: 25%
		.horizontal&::after
			width: 100%
			height: $stringThickness
			.left:not(.right)&
				width: 50%
				left: 75%
			.right:not(.left)&
				width: 50%
				left: 25%
	&::before
		z-index: 2
		absoluteCenter()
		position: absolute
		font-size: 3.6em
		.has-letter&
			left: 45%
			content: attr(data-letter)
		.no-letter&
			font-size: 3.0em
			.wild&
				font-size: 5em
				top: 62%
				content: '*'
			.x-2-letter&
				content: '2L'
			.x-3-letter&
				content: '3L'
			.x-2-word&
				content: '2W'
			.x-3-word&
				content: '3W'
	.has-letter&::after
		z-index: 2
		position: absolute
		top: 30%
		left: 75%
		transform: translate(-50%, -50%)
		font-size: 2.2em
		content: attr(data-points)
	&:not(.stop-animate)
		opacity: 0
		animation: tileScale 0.4s forwards
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 2.0)
	&.no-letter
		.strings
			opacity: 0

#overlay
	position: absolute
	display: none
	left: 0
	right: 0
	top: 0
	bottom: 0
	background: rgba(0, 0, 0, 0.3)
	z-index: 999
	&.show
		display: block

#settings-modal
	position: absolute
	display: none
	flex-direction: column
	justify-content: center
	align-items: center
	background: #877
	width: 100em
	// height: 300px
	left: 50%
	top: 50%
	padding: 1rem
	transform: translate(-50%, -50%)
	z-index: 1000
	&.show
		display: flex

.color-picker-wrapper
	font-size: 3em
	display: flex
	justify-content: space-between
	color: white
	width: 100%
	margin-top: 0.5em
	text-align: center
	input[type=color]
		width: 3em
		height: 1em
		outline: 0
		border: 0
		padding: 0
	button
		font-size: 0.5em
		padding: 0.4em 1em
	label
		display: block
