c_black = #2f2f69

c_bg = #685B87

*, *:before, *:after
	box-sizing: border-box

html
	font-family: Consolas, monaco, monospace

body
	margin: 0
	background-color: c_bg
	color: white
	overflow: hidden
	font-size: 0 // NOTE(bret): Set to 0 so we don't get any odd zooming on mobile on page load (trust me here, remove it and watch everything fall apart)

absoluteCenter()
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)

header
	text-align: center

.board, .words
	top: 0

.board
	position: absolute
	line-height: 0
	background-color: c_black
	padding: 1.5em

.words
	position: fixed
	width: 100%
	height: 100%
	line-height: 0
	overflow: hidden
	.words-holder
		background-color: #8b6914
		width: 100%
		height: 100%
		overflow-y: scroll
		padding-right: calc(18px + 1.5em)
		box-sizing: content-box
		margin-left: -1.5em
		.word
			margin: 3em

.word
	position: relative
	display: block
	// NOTE(bret): A hack to prevent the block from having 100% width
	float: left
	clear: left
	line-height: 1em
	.tile
		pointer-events: none
	&.drag, &.on-grid
		position: absolute
		z-index: 5
		.buttons
			display: none
	&.drag
		opacity: 0.5
	&.on-grid
		opacity: 1.0
	&.rotated .tile
		display: block
	.buttons
		position: absolute
		right: 0
		top: 50%
		transform: translate(100%, -50%)
		z-index: 6
		white-space: nowrap
		.button
			position: relative
			display: inline-block
			height: 10em
			margin: 0 0.5em
			cursor: grab
			&::after
				content: ''
				width: 100%
				display: block
				position: relative
				border-radius: 1.2em
				background-color: #fafafa
		.horizontal
			width: 10em
			&::after
				height: 50%
				top: 25%
		.vertical
			width: 5em
			&::after
				height: 100%

tileColors = 0, 0, 0, 0
tileColors[0] = #6666ff
tileColors[1] = magenta
tileColors[2] = orange
tileColors[3] = black

.tile
	position: relative
	display: inline-block
	.background
		position: absolute
		left: 5%
		top: 5%
		width: 90%
		height: 90%
		border-radius: 15%
		background-color: #a1a1a1
		opacity: 0.3
		.has-letter&
			background-color: #deb887
			background-color: #C5A064
			opacity: 1.0
		.wild&
			background-color: yellow
		.x-2-letter&
			background-color: tileColors[0]
		.x-3-letter&
			background-color: tileColors[1]
		.x-2-word&
			background-color: tileColors[2]
		.x-3-word&
			background-color: tileColors[3]
		.word-hovering&
			background-color: lime
			.invalid&
				background-color: red
	&::before
		z-index: 1
		absoluteCenter()
		position: absolute
		font-size: 3.6em
		text-transform: uppercase
		.has-letter&
			left: 45%
			content: attr(data-letter)
		.no-letter&
			font-size: 3.0em
			.wild&
				font-size: 5em
				top: 62%
				content: '*'
			.x-2-letter&
				content: '2L'
			.x-3-letter&
				content: '3L'
			.x-2-word&
				content: '2W'
			.x-3-word&
				content: '3W'
	.has-letter&::after
		position: absolute
		top: 30%
		left: 75%
		transform: translate(-50%, -50%)
		font-size: 2.2em
		content: '2'
